.container input {
  width: 200px;
  font-size: 14px;
  vertical-align: middle; }

.container .logo {
  display: inline-block;
  width: 30px;
  height: 100%;
  vertical-align: middle;
  cursor: pointer; }
  .container .logo img {
    display: block;
    width: 100%; }
.table-container {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 240px;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  background-color: #FAFAFA;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  line-height: 0;
  border: none;
  display: none;
  overflow: hidden; }
  .table-container.active {
    display: block; }
  .table-container table {
    position: relative;
    text-align: center;
    padding: 2px;
    width: 100%;
    max-width: 240px;
    height: 27px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 2px; }
    .table-container table td {
      text-align: center;
      padding: 2px;
      width: 34px;
      height: 27px;
      cursor: pointer;
      vertical-align: middle;
      border-radius: 2px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .table-container table td i {
        font-size: 18px;
        font-weight: bold;
        font-style: normal; }
      .table-container table td.title {
        font-weight: bold;
        text-align: center;
        padding: 2px; }
      .table-container table td.weekend {
        color: #d9534f; }
      .table-container table td.oday {
        color: #e0e0e0; }
      .table-container table td.day.today {
        color: #178cdf; }
        .table-container table td.day.today.selected {
          color: white; }
      .table-container table td.selected {
        padding: 1px;
        color: white;
        border: 1px solid #178cdf;
        background-color: #178cdf; }
      .table-container table td.title:not(.selected):hover, .table-container table td.month:not(.selected):hover, .table-container table td.year:not(.selected):hover, .table-container table td.btn:not(.selected):hover {
        background-color: #eee;
        padding: 1px;
        border: 1px solid #eee; }
      .table-container table td.controller div {
        display: inline-block;
        width: 100%;
        height: 50%; }
        .table-container table td.controller div span {
          display: inline-block;
          -webkit-transform: rotate(90deg);
               -o-transform: rotate(90deg);
                  transform: rotate(90deg);
          line-height: 13.5px; }
    .table-container table tbody.time td {
      width: 46px; }
      .table-container table tbody.time td.selected {
        border: 1px solid #e0e0e0;
        background-color: inherit;
        border-radius: 10px;
        color: inherit; }
    .table-container table tfoot .split {
      border-radius: 0;
      height: 1px;
      border-bottom: solid 1px #e0e0e0; }
  .table-container .mt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #FAFAFA;
    -webkit-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform ease 0.3s;
    transition: -webkit-transform ease 0.3s;
    -o-transition: -o-transform ease 0.3s;
    transition: transform ease 0.3s;
    transition: transform ease 0.3s, -webkit-transform ease 0.3s, -o-transform ease 0.3s; }
    .table-container .mt.active {
      -webkit-transform: none;
           -o-transform: none;
              transform: none; }
    .table-container .mt.inactive {
      position: relative;
      top: 0;
      left: 0;
      right: auto;
      bottom: auto;
      -webkit-transform: none;
           -o-transform: none;
              transform: none; }
    .table-container .mt tbody td {
      width: 58px;
      height: 38px; }
