.container {
    input {
        width: 200px;
        font-size: 14px;
        vertical-align: middle;
    }
    .logo {
        display: inline-block;
        width: 30px;
        height: 100%;
        vertical-align: middle;
        cursor: pointer;
        img {
            display: block;
            width: 100%;
        }
    }
}

table {
    text-align: center;
    padding: 2px;
    width: 34px;
    height: 27px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 2px;
}