.container {
    input {
        width: 200px;
        font-size: 14px;
        vertical-align: middle;
    }
    .logo {
        display: inline-block;
        width: 30px;
        height: 100%;
        vertical-align: middle;
        cursor: pointer;
        img {
            display: block;
            width: 100%;
        }
    }
}