.container {
    display: inline-block;
    input {
        width: 200px;
        font-size: 14px;
        vertical-align: middle;
    }
    .logo {
        display: inline-block;
        width: 30px;
        height: 100%;
        vertical-align: middle;
        cursor: pointer;
        img {
            display: block;
            width: 100%;
        }
    }
}

table {
    text-align: center;
    padding: 2px; // width: 34px;
    width: 100%;
    max-width: 240px;
    height: 27px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 2px;
    td {
        text-align: center;
        padding: 2px;
        width: 34px;
        height: 27px;
        cursor: pointer;
        vertical-align: middle;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        i {
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
        }
        &.title {
            font-weight: bold;
            text-align: center;
            padding: 2px;
        }
        &.weekend {
            color: #d9534f;
        }
        &.oday {
            color: #e0e0e0;
        }
    }
}