.table-container {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 240px;
    margin: 2px 0 0;
    font-size: 14px;
    color: #333;
    background-color: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    line-height: 0;
    border: none;
    overflow: hidden;
    table {
        position: relative;
        text-align: center;
        padding: 2px; // width: 34px;
        width: 100%;
        max-width: 240px;
        height: 27px;
        cursor: pointer;
        vertical-align: middle;
        border-radius: 2px;
        td {
            text-align: center;
            padding: 2px;
            width: 34px;
            height: 27px;
            cursor: pointer;
            vertical-align: middle;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            user-select: none;
            i {
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
            }
            &.title {
                font-weight: bold;
                text-align: center;
                padding: 2px;
            }
            &.weekend {
                color: #d9534f;
            }
            &.oday {
                color: #e0e0e0;
            }
            &.day.today {
                color: #178cdf;
                &.selected {
                    color: white;
                }
            }
            &.selected {
                padding: 1px;
                color: white;
                border: 1px solid #178cdf;
                background-color: #178cdf;
            }
            &.title,
            &.month,
            &.year,
            &.btn {
                &:not(.selected):hover {
                    background-color: #eee;
                    padding: 1px;
                    border: 1px solid #eee;
                }
            }
        }
        tfoot {
            .split {
                border-radius: 0;
                height: 1px;
                border-bottom: solid 1px #e0e0e0;
            }
        }
    }
    .mt {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: #FAFAFA;
        transform: translateX(-100%);
        transition: transform ease 0.3s;
        &.active {
            transform: none;
        }
        tbody td {
            width: 58px;
            height: 38px;
        }
    }
}